.footer {
  background-color: #481c54;
  color: #ffffff;
  padding: 60px 40px 20px;
  margin-top: 60px;
}

.footer-container {
  height: 653px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  max-width: 1300px;
  margin: 20px auto auto auto;
}

.footer-column h3,
.footer-column h4 {
  margin-bottom: 20px;
  font-weight: 600;
}

.footer-column p {
  color: #cccccc;
  line-height: 1.5;
  max-width: 260px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 12px;
  color: #d4d4d8;
}

.footer-column ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
}

.footer-column ul li a:hover {
  color: #a855f7;
}

.footer-social i {
  font-size: 24px;
  margin-right: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-social i:hover {
  color: #a855f7;
}

.footer-bottom {
  margin-top: 40px;
  text-align: center;
  color: #a1a1aa;
  border-top: 1px solid #27272a;
  padding-top: 15px;
  font-size: 14px;
}

/* Responsivo para celular */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}
