header{
  display: flex;
  position: fixed;
  padding: 20px;
  z-index: 9999;
  background-color: #cacaca;
  width: 100%;
  height: 90px;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 66px;
  width: 736px;
  position: fixed;
  gap: 2px;
}

.nav a {
  position: relative;
  text-decoration: none;
  padding: 8px 16px;
  font-size: 20px;
  color: black;
  display: inline-block;
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1; 
  margin-top: 2px;
  border: 1px solid white;
}

.nav a:hover::after,
.nav a.active::after {
  opacity: 1;
}

.logo {
  width: 150px;
  height: 40px;
  object-fit: contain;
}

.links {
  width: 100%;
}

.links a:not(:last-child)::before {
  content: "|";
  position: absolute;
  right: -30px;
  top: 0;
  color: white;
  opacity: 0.7;
}
