.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 610px;
}

.logo-project-home {
  height: 600px;
  width: 600px;
  object-fit: cover;
  object-position: center;
  margin: 50px 50px;
}

.info-project-home {
  color: black;
  display: flex;
  flex-direction: column;
}

.info-project-home ul {
  list-style: none;
  padding: 0;
}

.btn-show-project {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: black;
  color: white;
  border-radius: 30px;
  padding: 20px;
  width: 190px;
  height: 54px;
  transition: transform 0.2s ease;
}

.btn-show-project:hover {
  transform: translateY(-3px);
}
