.container-input-search-projects{
    display: flex;
    border-radius: 28px;
    background-color: white;
    width: 360px;
    height: 56px;
    margin-top: 15px;
    justify-content:space-around;
}

.input-search-projects{
    background: none;
    border: none;
    width: 250px;
}

.input-search-projects:focus{
    outline: none;
    box-shadow: none;
}